*{
    margin:0;
    padding:0;
}
body{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#calculator{
    width: 450px;
    height: 700px;
    background-color: #707070;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
#screen{
    width: 375px;
    height: 100px;
    background-color: whitesmoke;
    position: absolute;
    top: 25px;
    border-radius: 10px;
}
.button{
    width: 60px;
    height: 40px;
}
#nummpad{
    background-color: tomato;
    position: absolute;
    bottom: 25px;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding:15px;
}
#mathpad1{
    background-color: greenyellow;
    position: absolute;
    bottom: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding:7px;
    right: 25px;
}
#mathpad2{
    background-color: greenyellow;
    position: absolute;
    bottom: 25px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding:7px;
    left: 25px;
}

#systempad{
    background-color: aqua;
    position: absolute;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding:7px;
    right: 25px;
    bottom: 290px;
}
#parpad{
    background-color: orange;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 5px;
    padding:7px;
    bottom: 255px;
    right: 110px;
}
#trigpad{
    background-color: orange;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 7px;
    padding: 7px;
    bottom: 255px;
    left: 25px;
}
#logpad{
    background-color: blueviolet;
    position: absolute;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    grid-gap: 5px;
    padding:7px;
    bottom: 315px;
    right: 110px;
}



